
    <div class="container">
        <div class="row row-content" ng-controller="DishDetailController">
            <div class="col-xs-12 col-sm-12">
              <button class="btn btn-xs btn-primary pull-right" type="button" ui-sref="app.menu">Back to Menu</button>
              <div class="media" >
                <div class="media-left media-middle">
                  <a href="#">
                    <img class="media-object img-thumbnail" ng-src={{dish.image}} alt="Uthappizza">
                  </a>
              </div>
              <div class="media-body">
                <h2 class="media-heading">{{dish.name}}<span class="label label-danger label-xs">{{dish.label}}</span><span class="badge">{{dish.price | currency}}</span></h2>
                <p>{{dish.description}}</p>
              </div>
              </div>
            </div>

            <div class="col-xs-9 col-xs-offset-1">
              <form class="form-inline">
                <div class="form-group col-sm-3" >
                  <label><h4>Customer Comments</h4></label>
                </div>
                <div class="form-group col-lg-9 ">
                  <label><h5>Sort By:</h5></label>
                  <select class="form-control" ng-model="value">
                <option value="rating" selected >Ratings(0-5)</option>
                <option value="-rating">Ratings(5-0)</option>
                <option value="author">A - Z</option>
                <option value="-author">Z - A</option>
                <option value="date">date</span></option>
                <option value="-date">-date</option>
                </select>
  </div>
  </form>
          </div>
          <div class="col-xs-9 col-xs-offset-1" ng-repeat="comment in dish.comments | orderBy:value ">
       <blockquote>
         <p>{{comment.rating}}</p>
         <p>{{comment.comment}}</p>
           <footer>{{comment.author}}, {{comment.date | date : "MMM, d, y"}}
           </footer>
       </blockquote>

     </div>


       <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">

       <blockquote ng-hide="commentForm.$invalid">
         <p>{{comments.rating}}</p>
         <p>{{comments.comment}}</p>
         <footer>{{comments.yourname}}, {{comments.date | date: "MMM, d, y"}}</footer>

       </blockquote>

       <form class="form-horizontal" name="commentForm" ng-submit="submitComment()" novalidate>
         <div class="form-group" ng-class="{ 'has-error': commentForm.yourname.$error.required && !commentForm.yourname.$pristine }">
           <label for="yourname" class="col-sm-2 control-label">Your Name:</label>
         <div class="col-sm-7">
           <input type="text" class="form-control" id="yourname" name="yourname" placeholder="Enter Your Name" ng-model="comments.yourname" required>
           <span ng-show="commentForm.yourname.$error.required && !commentForm.yourname.$pristine" class="help-block">Your name is required.</span>
         </div>
         </div>
         <div class="form-group" >
         <label for="guests" class="col-sm-2 control-label">Number of Stars:</label>
           <div class="radio col-sm-6">
             <label class="radio-inline"><input type="radio" name="optradio" value="1" ng-model="comments.rating">1</label>
             <label class="radio-inline"><input type="radio" name="optradio" value="2" ng-model="comments.rating">2</label>
             <label class="radio-inline"><input type="radio" name="optradio" value="3" ng-model="comments.rating">3</label>
             <label class="radio-inline"><input type="radio" name="optradio" value="4" ng-model="comments.rating">4</label>
             <label class="radio-inline"><input type="radio" name="optradio" value="5" ng-model="comments.rating">5</label>
           </div>
       </div>

       <div class="form-group">
           <label for="cmt" class="col-sm-2 control-label">Your Feedback:</label>
            <div class="col-sm-7">
               <textarea class="form-control" id="cmt" name="cmt" rows="12" ng-model="comments.comment" required></textarea>
           </div>
       </div>

       <div class="form-group">
           <div class="col-sm-offset-2 col-sm-10">
               <button type="submit" class="btn btn-primary"ng-disabled="commentForm.$invalid">Post</button>
           </div>
       </div>

       </form>
     </div>


        </div>

    </div>
